@import url('https://fonts.googleapis.com/css2?family=Caesar+Dressing&family=Open+Sans:wght@400;700&display=swap');

:root {
    --primary-color: #40531b; 
    --secondary-color: #618b4a; 
    --accent1-color: #7aa095; 
    --accent2-color: #afbc88; 
  
    --heading-font: 'Caesar Dressing', cursive;
    --paragraph-font: 'Open Sans', sans-serif;
  
    --nav-background-color: #d7f9f1; 
    --nav-link-color: #40531b; 
    --nav-hover-link-color: #7aa095; 
    --nav-hover-background-color: #afbc88; 
  }

  body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
    margin: auto;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
  }
  
  header {
    padding: 20px;
    background-color: var(--accent1-color);
  }
  
  p {
    padding: 25px;
  }
  
  nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
  }
  
  nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
  }
  
  nav a:link, nav a:visited {
    color: var(--nav-link-color);
  }
  
  nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
  }